@import 'variables'

html, body
  height 100%
  font 400 14px/1.5 "PT Sans", Helvetica, Arial, sans-serif
  color #666
  -webkit-font-smoothing antialiased
  
a
  color $themeColor
  text-decoration none
  background-color transparent
  &:hover
    border-bottom 1px solid